

.department-booking-body{
    background: linear-gradient(243.81deg, #25354F 0.9%, #1B2033 100%);
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
}


.department-booking-title{
    font-family: 'Julee', cursive !important;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


