@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

.department-login-body{
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    height: 100vh;
    background: linear-gradient(243.18deg, #242C2C 0%, #11151A 100%);
}


.department-card{
    background: #2B3539 !important;
    box-shadow: 0px 0px 9px 24px rgba(54, 52, 52, 0.14) !important;
    border-radius: 50px !important;
}

.department-card-title{
    font-family: 'Julee', cursive !important;
    color: white;
    margin-left: 1rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}



.department-input {
    background: #717171;
    border-radius: 30px !important;
    margin-bottom: 2rem;
    color: white !important;
    height: 3rem !important;
    font-family: 'Julee', cursive !important;
    font-size: large !important;
}


.btn-department-card{
    background: #D76A28 !important;
    border-radius: 1rem !important;
    font-family: 'Julee', cursive !important;
    color: white !important;
    font-size: large;
    margin-bottom: 1rem !important;
}

.home-text{
    font-family: 'Julee', cursive !important;
    font-size: 1.3rem !important;
}


@media only screen and (max-width: 300px) {
    .department-card-title{
        font-size: larger !important;
    }
    
  }

  
@media only screen and (max-width: 190px) {
    .department-card-title{
        font-size: small !important;
    }
    
  }